Simple configuration for a web development project

Operating System Files

.DS_Store
Thumbs.db

Dependencies (if node_modules were ever added)

/node_modules

Project Specific

(No files to ignore, but included for completeness)
